{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>وبلاگ</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'styleBlog.css' %}" />
    <link rel="stylesheet" href="{% static 'footerApp.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/font.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/fontiran.css' %}" />
    <link rel="stylesheet" href="{% static 'fontBlog/style.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'img/icons/icon.jpg' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'tailwind/style.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="text-slate-300">
    <header-app></header-app>
    <section class="mainBlog w-full flex items-center justify-center">
      <div class="container w-full flex flex-col gap-10">
        <div
          class="blogHead w-full p-10 flex justify-between border-b border-slate-400"
        >
          <h1 class="text-slate-300 flex items-end text-bold text-3xl">
            وبلاگ
          </h1>
          <form class="search-box">
            <input
              oninput="searchBlog()"
              class="inputSearch"
              type="text"
              placeholder=""
            />
            <button onclick="getBlogs()" type="reset"></button>
          </form>
        </div>
        <div class="bolgBody w-full flex justify-center">
          <div
            class="blogAll max-md:grid-cols-2 max-md:gap-10 grid gap-20 grid-cols-3"
          ></div>
        </div>
      </div>
    </section>
    <footer-app></footer-app>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
  <script type="module" src="{% static 'js/headerComponent.js' %}"></script>
  <script type="module" src="{% static 'js/footerComponent.js' %}"></script>
  <script src="{% static 'js/indexHeader.js' %}"></script>
  <script src="{% static 'js/indexBlog.js' %}"></script>
</html>
