* {
  margin: 0;
  padding: 0;
}

a {
  color: #fbfbfb !important;
  text-decoration: none;
}

.archive-sec {
  width: 100%;
  height: 100%;
}

.archive-sec .sec-container {
  padding: 30px;
}

.archive-sec .sec-container .cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.archive-sec .sec-container .cards .parent-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 80px;
}

.sec-container .cards .parent-cards .card {
  width: 280px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 6px 11px 0px rgba(84, 165, 160, 0.247);
  background: #131736;
  border-radius: 19px;
}

.sec-container .cards .parent-cards .card .photo {
  width: fit-content;
  background: #162753;
  border-radius: 19px;
}

.sec-container .cards .parent-cards .card .photo img {
  width: 100%;
  object-fit: cover;
}

.sec-container .cards .parent-cards .card .title-page {
  width: 100%;
  text-align: right;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 5px 0px 0px;
}

.sec-container .cards .parent-cards .card .description {
  color: #d3d3d3;
  font-size: 15px;
  line-height: 1.5;
  padding: 5px;
  text-align: right;
  font-weight: 500;
}

.sec-container .cards .parent-cards .card .get-page {
  padding: 10px 12px;
  border-radius: 9px;
  background: #003581;
}

.sec-container .cards .card2 {
  margin-top: 40px;
}

.lists-info .containerdrView {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 82px;
  margin-top: -178px;
}

.lists-info .containerdrView img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists-info .info-pic {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.lists-info .info-pic div {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* .lists-info .info-pic .grand-peri{
  width: 50%;
  display: flex;
  justify-content: flex-start;
} */
