{% load static %}
<!doctype html>
<html lang="fa">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>دیجی کد-همراه حرفه ای کسب و کار انلاین شما</title>
        <meta name="description" content="دیجی کد is a Mobile App Development Agency HTML5 Template by tempload." />
        <meta name="keywords" content="دیجی کد, mobile app, agency, development, html, template, tempload" />
        <meta name="author" content="tempload"/>
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
        <!-- Bootstrap & Plugins CSS -->
        <link rel="preload" href="{% static 'css/bootstrap.min.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload" href="{% static 'css/font-awesome.min.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <!-- Custom CSS -->
        <link rel="preload" href="{% static 'css/output.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload" href="{% static 'css/rtl-style.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<body>
    
    {% include 'base/header.html'%}
    <!-- ***** Preloader Start ***** -->
	<div class="loader-wrapper">
		<div class="center">
			<div class="dot dot-one"></div>
			<div class="dot dot-two"></div>
			<div class="dot dot-three"></div> 
			<div class="dot dot-four"></div>  
			<div class="dot dot-five"></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->
    {% block content %}
    {% endblock %}
    {% include 'base/footer.html'%}
    </body>
    <script src="{% static 'js/lozad.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

	<!-- Bootstrap -->
	<script defer src="{% static 'js/popper.js' %}"></script>
	<script defer src="{% static 'js/bootstrap.min.js' %}"></script>

	<!-- Plugins -->
	<script defer src="{% static 'js/scrollreveal.min.js' %}"></script>
	<script defer src="{% static 'js/parallax.min.js' %}"></script>
	<script defer src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script defer src="{% static 'js/jquery.counterup.min.js' %}"></script>
	<script defer src="{% static 'js/imgfix.js' %}"></script>	

	<!-- Global Init -->
	<script defer src="{% static 'js/custom.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/lozad"></script> -->
    <script>
        var observer = lozad()
        observer.observe()
      </script>
</html>