<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Beapp - Mobile App Development Agency HTML5 Template</title>
	<meta name="description" content="Beapp is a Mobile App Development Agency HTML5 Template by tempload." />
	<meta name="keywords" content="beapp, mobile app, agency, development, html, template, tempload" />
	<meta name="author" content="tempload"/>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="assets/images/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="asnvsets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/magnific-popup.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="assets/css/rtl-style.css" rel="stylesheet" type="text/css">
</head>
<body>

	<!-- ***** Preloader Start ***** -->
	<div class="loader-wrapper">
		<div class="center">
			<div class="dot dot-one"></div>
			<div class="dot dot-two"></div>
			<div class="dot dot-three"></div> 
			<div class="dot dot-four"></div>  
			<div class="dot dot-five"></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	<!-- ***** Header Area Start ***** -->
	<header class="header-area header-rtl">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="rtl-home.html" class="logo">
							<img src="assets/images/logo-white.svg" class="light-logo" alt="Beapp"/>
							<img src="assets/images/logo-dark.svg" class="dark-logo" alt="Beapp"/>
						</a>
						<!-- ***** Logo End ***** -->

						<!-- ***** Menu Start ***** -->
						<ul class="nav rtl-row">
							<li><a href="rtl-home.html">منزل</a></li>
							<li><a href="rtl-our-work.html">عملنا</a></li>
							<li><a href="rtl-about-us.html">معلومات عنا</a></li>
							<li><a href="rtl-services.html">خدمات</a></li>
							<li><a href="rtl-blog.html">مدونة</a></li>
							<li><a href="rtl-contact.html" class="btn-nav-line">اتصل</a></li>
						</ul>
						<a class="menu-trigger">
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->						
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->


	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="assets/images/photos/parallax.jpg">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 rtl-text">
							<h1>معلومات عنا</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb rtl-text">
								<li><a href="rtl-home.html">منزل</a></li>
								<li class="active">معلومات عنا</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->

		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom pbottom-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 rtl-text">
						<p>يبق أن وجهان مليون التجارية. لكل و بقصف وانتهاءً التبرعات, قد التبرعات ويكيبيديا، أما. تلك جيما عليها جزيرتي ثم, أضف رئيس بتطويق انتصارهم أم. عدم عن فشكّل الأسيوي واعتلاء. لعملة أوروبا إنطلاق عل هذا, عدد مشروط اليابان في. بحث ماشاء طوكيو إذ, بل بأيدي الشرقي دار, بل نقطة أواخر لكل. دنو أن مارد وجهان اوروبا, بها من أسيا مكثّفة سليمان،. ولم كل لمحاكم لبلجيكا،. أم سابق الأعمال التكاليف بعض, بها تسبب الشمل الثالث، و.</p>
						<!-- ***** Gallery Start ***** -->
						<div class="row page-gallery-wrapper">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<a href="assets/images/photos/about/1.jpg" class="page-gallery" title="About Us">
									<img src="assets/images/photos/about/1.jpg" alt="">
								</a>
							</div>
							<div class="col-lg-4 col-md-8 col-sm-12">
								<div class="row">
									<div class="col-lg-12 col-md-6">
										<a href="assets/images/photos/about/2.jpg" class="page-gallery small" title="About Us">
											<img src="assets/images/photos/about/2.jpg" alt="">
										</a>
									</div>
									<div class="col-lg-12 col-md-6">
										<a href="assets/images/photos/about/3.jpg" class="page-gallery small" title="About Us">
											<img src="assets/images/photos/about/3.jpg" alt="">
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<a href="assets/images/photos/about/4.jpg" class="page-gallery" title="About Us">
									<img src="assets/images/photos/about/4.jpg" alt="">
								</a>
							</div>
						</div>
						<!-- ***** Gallery End ***** -->
						<p>كل فقد وبداية اليميني المنتصر. حالية الكونجرس و ذات, أم تصرّف الثالث، الخارجية بين, وقبل أجزاء فقد و. واستمر الغالي من دار. عل ودول وشعار قبل, بـ ومن ساعة مشارف لإعلان. لكون الصفحة التجارية لمّ أي, عل غير أطراف الهادي سليمان،. بـ فعل فكان استبدال للإتحاد. هو مكّن تغييرات للإتحاد كلّ, كانت أراضي بريطانيا، تم ذات. هنا؟ تسمّى انه بـ, وقد مع بقصف تمهيد اللازمة, الشمال الإمداد حول عن. قد كلّ معقل الشطر. هامش عرفها الثانية بين في. ولم سقوط الأراضي الإنذار، بل, حتى بالعمل الشّعبين هو. شدّت الثقيل ما بعد, ثم هُزم تصرّف الإتحاد كان.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>


	<!-- ***** Parallax Start ***** -->
	<section class="parallax">
		<div class="parallax-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="info rtl-text">
							<p>نقوم بتصميم وتطوير <span>تطبيقات الأجهزة المحمولة</span> التي تسعد المستخدمين وتنمو أعمالك.</p>
							<a class="btn-white-line" href="#">اتصل بنا</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Parallax End ***** -->


	<!-- ***** Our Team Start ***** -->
	<section class="section pbottom-70">
		<div class="container">
			<div class="row rtl-text">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">فريقنا</h2>
					</div>
				</div>
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
					<div class="center-text">
						<p>السريرية بيئة أسعار العقارات، والرعاية المهنيين للتعامل مع الحياة. كل ما لم يكن هناك الكثير.</p>
					</div>					
				</div>
			</div>
			<div class="row rtl-row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item rtl-text">
						<div class="header">
							<div class="img">
								<img src="assets/images/photos/team/1.jpg" alt="">
							</div>
							<div class="info">
								<strong>فليتشن سكينر</strong>
								<span>استراتيجي المنتج</span>
							</div>
						</div>
						<div class="body">
							تلك ما ليبين مواقعها, حالية غرّة، عرض كل. كلّ تم الأرواح الأرضية, كلا أن كانت العسكري, وصل ببعض وإعلان.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item rtl-text">
						<div class="header">
							<div class="img">
								<img src="assets/images/photos/team/2.jpg" alt="">
							</div>
							<div class="info">
								<strong>لانس بوجرول</strong>
								<span>مصمم بصري</span>
							</div>
						</div>
						<div class="body">
							تلك ما ليبين مواقعها, حالية غرّة، عرض كل. كلّ تم الأرواح الأرضية, كلا أن كانت العسكري, وصل ببعض وإعلان.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item rtl-text">
						<div class="header">
							<div class="img">
								<img src="assets/images/photos/team/3.jpg" alt="">
							</div>
							<div class="info">
								<strong>فالنتينو موروز</strong>
								<span>الروبوت المطور</span>
							</div>
						</div>
						<div class="body">
							تلك ما ليبين مواقعها, حالية غرّة، عرض كل. كلّ تم الأرواح الأرضية, كلا أن كانت العسكري, وصل ببعض وإعلان.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item rtl-text">
						<div class="header">
							<div class="img">
								<img src="assets/images/photos/team/4.jpg" alt="">
							</div>
							<div class="info">
								<strong>موقف جايلز</strong>
								<span>مطور دائرة الرقابة</span>
							</div>
						</div>
						<div class="body">
							تلك ما ليبين مواقعها, حالية غرّة، عرض كل. كلّ تم الأرواح الأرضية, كلا أن كانت العسكري, وصل ببعض وإعلان.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Our Team End ***** -->


	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
			<div class="row rtl-row">
				<div class="col-lg-5 col-md-12 col-sm-12 rtl-text">
					<img src="assets/images/logo-dark.svg" class="logo" alt="">
					<div class="text">هو مكّن تغييرات للإتحاد كلّ, كانت أراضي بريطانيا، تم ذات. هنا؟ تسمّى انه بـ, وقد مع بقصف تمهيد اللازمة, الشمال الإمداد حول عن. قد كلّ معقل الشطر. هامش عرفها الثانية بين في.</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 rtl-text">
					<h5>روابط مفيدة</h5>
					<ul class="footer-nav">
						<li><a href="#"><i class="fa fa-angle-left"></i><span>عملنا</span></a></li>
						<li><a href="#"><i class="fa fa-angle-left"></i><span>معلومات عنا</span></a></li>
						<li><a href="#"><i class="fa fa-angle-left"></i><span>خدمات</span></a></li>
						<li><a href="#"><i class="fa fa-angle-left"></i><span>مدونة</span></a></li>
						<li><a href="#"><i class="fa fa-angle-left"></i><span>اتصل</span></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 rtl-text">
					<h5>أحدث التطبيقات</h5>
					<ul class="footer-nav">
						<li><a href="#"><i class="fa fa-angle-left"></i><span>مدرسة الرقص</span></a></li>
						<li><a href="#"><i class="fa fa-angle-left"></i><span>مزيف النقود</span></a></li>
						<li><a href="#"><i class="fa fa-angle-left"></i><span>سحابة مدير</span></a></li>
						<li><a href="#"><i class="fa fa-angle-left"></i><span>ترميز الحياة</span></a></li>
						<li><a href="#"><i class="fa fa-angle-left"></i><span>مكتب ذكي</span></a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12 rtl-text">
					<h5>اتصل بنا</h5>
					<div class="address">
						<p>455 West Orchard Street<br>Kings Mountain, NC 28086</p>
						<p>Phone: (272) 211-7370</p>
						<p><span>E-Mail:</span><a href="#">support@yourbrand.com</a></p>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
							<li><a href="#"><i class="fa fa-github-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright rtl-text">© 2021 Beapp. كل الحقوق محفوظة.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- ***** Footer Start ***** -->



	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="assets/js/scrollreveal.min.js"></script>
	<script src="assets/js/parallax.min.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/imgfix.js"></script>

	<!-- Global Init -->
	<script src="assets/js/custom.js"></script>
</body>
</html>