{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="box bg-orange-400"> 
	hello
	<br>
	kkkkn
	<br>
	kkkkn
	<br>
	kkkkn
	<br>
	kkkkn
</div>
	<!-- ***** Wellcome Area Start ***** -->
	<section class="welcome-area">
		<!-- ***** Wellcome Area Background Start ***** -->
		<div class="" data-bg="{% static 'img/photos/welcome.jpg' %}">
			<img class="lozad" data-src="{% static 'img/rtl-bg-bottom.svg' %}" alt="">
		</div>
		<!-- ***** Wellcome Area Background End ***** -->

		<!-- ***** Wellcome Area Content Start ***** -->
		
		<div class="welcome-content">
			<div class="container">
				
				<div class="row rtl-row box">
					<div class="col-lg-6 col-md-12 align-center rtl-text">
						<h1>کلید ساخت وب سایت شما دست ماست!</h1>
						<p>ما وب سایت و انواع محصولات درخواستی شما رو به نحوی طراحی میکنیم که رضایت کاربران شما افزایش پیدا کنه و در نتیجه باعث درامد و رشد شما بشه</p>
						<a class="btn-white-line" href="#">همه کار های ما</a>
					</div>
					<div class="col-lg-5 col-md-12 align-center">
						<div class="apps">
							<div class="container-fluid">
								<div class="row rtl-row">
									<img class="lozad" data-src="{% static 'img/website.svg' %}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Wellcome Area Content End ***** -->
	</section>
	<!-- ***** Wellcome Area End ***** -->


	<!-- ***** Home About - Services Start ***** -->
	<section class="section services-section pbottom-70">
		<div class="container">
			<div class="row rtl-row">
				<!-- ***** Home About Start ***** -->
				<div class="offset-lg-1 col-lg-5 col-md-12 col-sm-12 align-self-center rtl-text">
					<div class="left-heading">
						<h2 class="section-title">مرکز توسعه وب سایت از اول تا اخر</h2>
					</div>
					<div class="left-text">
						<p class="dark">طراحان و برنامه نویسان شرکت مرحله به مرجله تا تحویل سفارش شما برنامه نویسی و طراحی را انجام میدهند و در نهایت کار به موقع تحویل داده میشود</p>
						<p>در هر مرحله از کار بر فعالیت برنامه نویسان و طراحان ما نظارت میشود تا نتیجه کار مطلوب باشد و بباعث رشد شغلی و کاری شما شود </p>
					</div>
					<a href="#" class="btn-primary-line">خدمات</a>					
				</div>
				<!-- ***** Home About End ***** -->

				<!-- ***** Home Services Start ***** -->
				<div class="col-lg-6 col-md-12 col-sm-12 align-self-bottom">
					<div class="row rtl-row rtl-text">
						<div class="col-lg-6 col-md-6 col-12">
							<a href="rtl-services-single.html" class="home-services-item mtop-70" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
								<i class="fa fa-clone"></i>
								<h5 class="services-title">استراتژی خدمات تحرک</h5>
								<p>به حق دیگری و روسی کرد، که شهرهای جهان زیر. همانطور که در آن زمان، دو روستای خود و ادعا می کنند.</p>
							</a>
							<a href="rtl-services-single.html" class="home-services-item" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
								<i class="fa fa-connectdevelop"></i>
								<h5 class="services-title">توسعه کاربراتورهای اصلی</h5>
								<p>به حق دیگری و روسی کرد، که شهرهای جهان زیر. همانطور که در آن زمان، دو روستای خود و ادعا می کنند.</p>
							</a>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<a href="rtl-services-single.html" class="home-services-item active" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s">
								<i class="fa fa-object-ungroup"></i>
								<h5 class="services-title">طراحی و تجربه کاربری</h5>
								<p>طراحان ما با استفاده از روش های به روز طراحی
									رابط کاربری مناسبی را تحویل میدهند 
								</p>
							</a>
							<a href="rtl-services-single.html" class="home-services-item" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s">
								<i class="fa fa-line-chart"></i>
								<h5 class="services-title">نگهداری و نظارت</h5>
								<p>در هر مرحله از ساخت محصول بر طراحی و رعایت موارد بهینه سازی نظارت میشود</p>
							</a>
						</div>
					</div>
				</div>
				<!-- ***** Home Services End ***** -->
			</div>			
		</div>
	</section>
	<!-- ***** Home About - Services Start ***** -->


	<!-- ***** Features Start ***** -->
	<section class="section background">
		<div class="container">
			<div class="row rtl-row">
				<div class="col-lg-5 col-md-12 align-self-center">
					<img class="lozad" data-src="{% static 'img/mockup/home-mockup.png' %}" class="img-fluid d-block mx-auto" alt="">
				</div>
				<div class="col-lg-7 col-md-12 align-self-center">
					<ul class="features rtl-text">
						<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
							<div class="count">
								<span>1</span>
							</div>
							<div class="text">
								<h5 class="title">خدمات را با سلیقه خود دریافت کنید</h5>
								<p>در هنگام سفارش خدمات شما از بین قالب های حرفه ای ما و طراحی های اختصاصی میتوانید بر اساس سلیقه خود و نیاز کسب و کارتان محصول نهایی را انتخاب کنید</p>
							</div>
						</li>
						<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s">
							<div class="count">
								<span>2</span>
							</div>
							<div class="text">
								<h5 class="title">توسعه در سطح سازمانی قابلیت اطمینان و کیفیت را تضمین می کند</h5>
								<p>در گروه ما تمام مراحل کار شما به صورت تیمی برنامه ریزی میشود و توسعه هر کدام از مراحل با نظارت گروه ناظر به پایان میرسد و در نتیجه کار شما به بهترین وجه انجام میشود</p>
							</div>
						</li>
						<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
							<div class="count">
								<span>3</span>
							</div>
							<div class="text">
								<h5 class="title">فرآیند آزموده شده موفقیت شما را تضمین می کند</h5>
								<p>یک میلیون دست با آن، از، این بهار سهمگین، برای لهستان، با، باقی مانده و به دست آورد کمک چه. از حوزه های سیاست مرتبط در حالی که. مثل قبل از دولت خارجی چه. سیاست و فرانسه با کدام یک از این دو روحیه بود و ابزار برنامه ریزی به همان اندازه. برای بازگرداندن جهان،.</p>
							</div>
						</li>
						<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.5s">
							<div class="count">
								<span>4</span>
							</div>
							<div class="text">
								<h5 class="title">آژانس توسعه اپلیکیشن از اول تا اخر</h5>
								<p>یک میلیون دست با آن، از، این بهار سهمگین، برای لهستان، با، باقی مانده و به دست آورد کمک چه. از حوزه های سیاست مرتبط در حالی که. مثل قبل از دولت خارجی چه. سیاست و فرانسه با، بنابراین یکی از دو روحی بود که، به عنوان ابزار برنامه ریزی.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Features End ***** -->


	<!-- ***** Our Team Start ***** -->
	<section class="section pbottom-70">
		<div class="container">
			<div class="row rtl-text">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">تیم ما</h2>
					</div>
				</div>
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
					<div class="center-text">
						<p>بالینی قیمت املاک و مستغلات محیط زیست، مراقبت از متخصصان برای مقابله با زندگی. هر چه هست زیاد نیست.</p>
					</div>					
				</div>
			</div>
			<div class="row rtl-row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item rtl-text">
						<div class="header">
							<div class="img">
								<img class="lozad" data-src="{% static 'img/photos/team/1.jpg' %}" alt="">
							</div>
							<div class="info">
								<strong>فلچین اسکینر</strong>
								<span>استراتژیست محصول</span>
							</div>
						</div>
						<div class="body">
							این همان چیزی است که مکان‌های آنها را نشان می‌دهد، به‌طور شگفت‌انگیزی، همه چیز را نشان می‌دهد. همه ارواح زمینی، هر دو نظامی، به هم پیوسته و اعلام شده اند.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item rtl-text">
						<div class="header">
							<div class="img">
								<img class="lozad" data-src="{% static 'img/photos/team/2.jpg' %}" alt="">
							</div>
							<div class="info">
								<strong>لنس بوگرول</strong>
								<span>طراح بصری</span>
							</div>
						</div>
						<div class="body">
							این همان چیزی است که مکان‌های آنها را نشان می‌دهد، به‌طور شگفت‌انگیزی، همه چیز را نشان می‌دهد. همه ارواح زمینی، هر دو نظامی، به هم پیوسته و اعلام شده اند.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item rtl-text">
						<div class="header">
							<div class="img">
								<img class="lozad" data-src="{% static 'img/photos/team/3.jpg' %}" alt="">
							</div>
							<div class="info">
								<strong>فالنتينو موروز</strong>
								<span>الروبوت المطور</span>
							</div>
						</div>
						<div class="body">
							این همان چیزی است که مکان‌های آنها را نشان می‌دهد، به‌طور شگفت‌انگیزی، همه چیز را نشان می‌دهد. همه ارواح زمینی، هر دو نظامی، به هم پیوسته و اعلام شده اند.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item rtl-text">
						<div class="header">
							<div class="img">
								<img class="lozad" data-src="{% static 'img/photos/team/4.jpg' %}" alt="">
							</div>
							<div class="info">
								<strong>موقعیت گیلز</strong>
								<span>توسعه دهنده گواهینامه</span>
							</div>
						</div>
						<div class="body">
							این همان چیزی است که مکان‌های آنها را نشان می‌دهد، به‌طور شگفت‌انگیزی، همه چیز را نشان می‌دهد. همه ارواح زمینی، هر دو نظامی، به هم پیوسته و اعلام شده اند.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Our Team End ***** -->


	<!-- ***** Counter Parallax Start ***** -->
	<section class="parallax">
		<div class="parallax-content">
			<div class="container">
				<div class="row rtl-row">
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="count-item">
							<strong>126</strong>
							<span>پنل برنامه ها<br> موبایل</span>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="count-item">
							<strong>98</strong>
							<span>مشتری<br>خوشحال</span>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="count-item">
							<strong>176</strong>
							<span>کپی<br>کاربرد</span>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="count-item">
							<strong>16</strong>
							<span>جایزه<br>پیروزی</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Counter Parallax End ***** -->


	<!-- ***** Blog Start ***** -->
	<section class="section pbottom-70">
		<div class="container">
			<div class="row rtl-text">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">آخرین پست های وبلاگ</h2>
					</div>
				</div>
				<!-- <div class="col-lg-3"></div>
				<div class="col-lg-6">
					<div class="center-text">
						<p>بالینی قیمت املاک و مستغلات محیط زیست، مراقبت از متخصصان برای مقابله با زندگی. هر چه هست زیاد نیست.</p>
					</div>					
				</div> -->
			</div>
			<div class="row rtl-row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-post-thumb rtl-text">
						<div class="img">
							<img class="lozad" data-src="{% static 'img/photos/blog/1.jpg' %}" alt="">
						</div>
						<h3>
							<a href="rtl-blog-single.html">5 مراحل منطبق شدن با GDPR</a>
						</h3>
						<div class="text">
							آن دو میلیون چهره تجاری باقی می ماند. به ازای کمک‌های مالی، کمک‌های مالی نیز ممکن است ویکی‌پدیا باشند. آن جما در آن جزیره من است، پس، رئیس را با مادر پیروزی خود اضافه کنید. نبود فرم آسیایی و صعود.
						</div>
						<a href="rtl-blog-single.html" class="btn-primary-line">ادامه مطلب</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-post-thumb rtl-text">
						<div class="img">
							<img class="lozad" data-src="{% static 'img/photos/blog/2.jpg' %}" alt="">
						</div>
						<h3>
							<a href="rtl-blog-single.html">موفقیت کاربریج را از طریق تجزیه و تحلیل موبایل اندازه گیری کنید</a>
						</h3>
						<div class="text">
							بمباران مشروط اتحاد با لان، اختلاف آسیایی و آلمان در مورد لان. دلیل به دنبال زمانی که با، با کجا با خطوط شمال، لازم استفاده می شود هر. هر روحی در مقابل مشرق ادامه است.
						</div>
						<a href="rtl-blog-single.html" class="btn-primary-line">ادامه مطلب</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-post-thumb rtl-text">
						<div class="img">
							<img class="lozad" data-src="{% static 'img/photos/blog/3.jpg' %}" alt="">
						</div>
						<h3>
							<a href="rtl-blog-single.html">چگونه دسترسی بر توسعه برنامه شما تأثیر می گذارد</a>
						</h3>
						<div class="text">
							حتی با وجود هر دو طرف جاده، با سرکشی به سرپیچی کرده است. وجود داشت تا او 30، که به عنوان توجه، به بالا پرتاب هر چند پس از آن وجود دارد. یا اصلاحیه هارپر اروپایی بالا رفته است.
						</div>
						<a href="rtl-blog-single.html" class="btn-primary-line">ادامه مطلب</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Blog End ***** -->
</body>
{% endblock %}