<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% load static %}">
    <link rel="stylesheet" href="{% static 'fonts/fontiran.css' %}" />
    <link rel="stylesheet" href="{% static 'footerApp.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'tailwind/style.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'fonts/font.css' %}" />
    <title>خرید با موفقت انجام شد</title>
</head>
<body class="">
    <header-app style="color: #fbfbfb;"></header-app>
    <section class="w-full h-full">
        <div class="container flex justify-center items-center">
            <div class="backDrShow"></div>
            <div class="paymentCnt z-30 h-96 gap-5 flex flex-col items-center w-96 bg-slate-200">
                <div class="headerPay w-80 flex text-green-800 flex-col items-center p-5">
                    <span class="iconS text-5xl">
                        <ion-icon name="checkmark-circle-outline"></ion-icon>
                    </span>
                    <h1 class="textSuc text-xl text-bold">
                        پرداخت با موفقیت انجام شد
                    </h1>
                </div>
                <div class="mainPay w-80">
                    <p class="textCnt">
                        لطفا تا کمتر از ۱۰ دقیقه دیگر به ربات بروید و دکمه پرداخت شد را بزنید تا پرداخت شما تایید شود . در غیر این صورت مبلغ به حساب شما باز میگردد.
                    </p>
                </div>
                <div class="btmPay bg-slate-400">
                    <img class="w-64 h-20" src="/assets/img/icons/Logo.png">
                </div>
            </div>
        </div>
    </section>
    <footer-app style="color: #fbfbfb;"></footer-app>
    <script type="module" src="{% static 'js/headerComponent.js' %}"></script>
    <script type="module" src="{% static 'js/footerComponent.js' %}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
</body>
</html>