{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'fonts/font.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/fontiran.css' %}" />
    <link rel="stylesheet" href="{% static 'footerApp.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/icons/icon.jpg' %}" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>قوانین و مقررات</title>
  </head>

  <body class="text-slate-300 overflow-x-hidden">
    <header-app></header-app>
    <section class="containerSec flex justify-center mb-40">
      <div class="container w-3/4 flex flex-col gap-8">
        <div class="topRul w-full">
          <div
            class="headerrulTit w-full border-b-solid border-b pb-8 border-b-slate-400"
          >
            <h1 class="text-2xl pr-5">قوانین و مقررات</h1>
          </div>
        </div>
        <div
          class="mainRule w-full flex border-b pb-8 border-slate-600 flex-col gap-4"
        >
          <div class="ruleCnt flex-col flex gap-4">
            <div class="headRule">
              <h2 class="text-xl text-bold">1. مسائل فنی</h2>
            </div>
            <div class="ruleText gap-4">
              <div class="rule gap-4">
                <h3 class="text-lg max-sm:text-sm">
                  1.1 سایت ممکن است به دلیل ارتباط مستقیم با منابع بین المللی
                  محتوایی با ادبیات زبان های خارجی را به اشتراک بگذارد
                </h3>
                <h3 class="text-lg max-sm:text-sm">
                  2.1 در صورت تشخیص اقدامات خطرناک از طرف کاربران، همچون نفوذ و
                  یا دسترسی های ممنوع، کاربر از طرف سایت محدود خواهد شد.
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div
          class="mainRule w-full flex border-b pb-8 border-slate-600 flex-col gap-4"
        >
          <div class="ruleCnt flex-col flex gap-4">
            <div class="headRule">
              <h2 class="text-xl text-bold">2. انجمن</h2>
            </div>
            <div class="ruleText gap-6 flex-col flex gap-2">
              <div class="rule gap-4">
                <h3 class="text-lg max-sm:text-sm">
                  1.2 کاربران سایت از قرار دادن و به اشتراک گذاشتن محتوای صریح -
                  توهین آمیز - سیاسی و بزرگسالانه خودداری فرمایند
                </h3>
              </div>
              <div class="rule">
                <h3 class="text-lg max-sm:text-sm">
                  2.2 محتوایی که شامل تبعیض بر اساس نژاد، جنسیت و مذهب در انجمن
                  مجاز نمی‌باشد.
                </h3>
              </div>
              <div class="rule">
                <h3 class="text-lg max-sm:text-sm">
                  3.2 تبلیغات و هرزنامه در انجمن سایت ممنوع می‌باشد.
                </h3>
              </div>
              <div class="rule">
                <h3 class="text-lg max-sm:text-sm">
                  4.2 تعداد اخطار کاربران اگر از حداکثر اخطار مجاز بگذرد، کاربر
                  دسترسی به انجمن نخواهد داشت.
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div
          class="mainRule w-full flex border-b pb-8 border-slate-600 flex-col gap-4"
        >
          <div class="ruleCnt flex-col flex gap-4">
            <div class="headRule">
              <h2 class="text-xl text-bold">3. حساب کاربری و امنیت</h2>
            </div>
            <div class="ruleText gap-6 flex-col flex gap-2">
              <div class="rule">
                <h3 class="text-lg max-sm:text-sm">
                  1.3 کاربران سایت می بایست از رمزعبور امن و مطمئن استفاده کنند
                  و از اشتراک گذاری آن خودداری کنند.
                </h3>
              </div>
              <div class="rule">
                <h3 class="text-lg max-sm:text-sm">
                  2.3 کاربران می‌ توانند در صورت مشاهده هر گونه فعالیت مشکوک در
                  حسابشان، تیم امنیت و مدیریت سایت را در جریان قرار دهند.
                </h3>
              </div>
              <div class="rule">
                <h3 class="text-lg max-sm:text-sm">
                  3.3 کاربران باید تنظیمات مربوط به حریم خصوصی موجود را برایسایت
                  و تیم مدیریت حق دارند که در صورت بروز هر گونه خطا و رعایت
                  نکردن قوانین و مقررات به شما اخطار های لازم و در صورت نیاز
                  حساب شما را تعلیق یا حذف کنند‌.
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div
          class="mainRule w-full flex border-b pb-8 border-slate-600 flex-col gap-4"
        >
          <div class="ruleCnt flex-col flex gap-4">
            <div class="headRule">
              <h2 class="text-xl text-bold">4. قوانین و مقررات جامع</h2>
            </div>
            <div class="ruleText gap-6 flex-col flex gap-4">
              <div class="rule">
                <h3 class="text-lg max-sm:text-sm">
                  1.4 سایت و تیم مدیریت حق دارد که این شرایط و قوانین مقررات را
                  در هر لحظه و در هر زمان با کارشناسی و تشخیص خود تغییر دهد.
                  تغییرات در این صفحه منتشر شده و اعمال می‌شوند.
                </h3>
              </div>
              <div class="rule">
                <h3 class="text-lg max-sm:text-sm">
                  2.4 هرگونه اظهار نظر، تبلیغ و اطلاعاتی که توسط کاربران در سایت
                  منتشر می شود، تحت هیچ شرایطی مورد تضمین از طرف سایت و تیم
                  مدیریت نمی باشد. (مقالات و اخبار دارای تیک آبی، مورد تضمین
                  سایت می باشند.)
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer-app></footer-app>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script type="module" src="{% static 'js/headerComponent.js' %}"></script>
    <script type="module" src="{% static 'js/footerComponent.js' %}"></script>
  </body>
</html>
